<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<title>Prueba de Front End</title>
	<!-- If you delete this meta tag World War Z will become a reality -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Zurb Foundation -->
	<link rel="stylesheet" type="text/css" href="static/zurb/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="static/zurb/css/normalize.css">
	<script src='https://code.jquery.com/jquery-2.1.3.js'></script>
	<script src='static/zurb/js/foundation.min.js'></script>
	<!-- Librerias de Angular -->
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js'></script>
	<script src='https://code.angularjs.org/1.3.15/angular-route.js'></script>
	<!-- Cargando catalogo de productos -->
	<script src='static/js/source.js'></script>
	<link rel="stylesheet" type="text/css" href="static/css/estilos.css">
</head> 
<body ng-app="NC">
	<header>
		
	</header>

	<div id="content" class="row">
		<div id="catalogo" class="large-3 columns">
			<div ng-controller="CatCtrl">
				<ul class="menu">
					<li ng-repeat="seccion in catalog">
					  <input type="checkbox" value="{{seccion.id}}" /> <a href="">{{seccion.description}}</a>
						<ul>
							<li ng-repeat="categoria in seccion.categories">
								<input type="checkbox" value="{{categoria.id}}" /><a href="">{{categoria.description}}</a>
								<ul>
									<li ng-repeat="lineas in categoria.lines">
										<input type="checkbox" value="{{lineas.id}}" /><a href="">{{lineas.description}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>	
				</ul>
			</div>
		</div><!--
		<div id="productos" class="large-9 columns">
			<div ng-controller="ProdCtrl">
				<ul>
					<li ng-repeat="prod in prods">
						<figure>
							<img src="{{prod.image}}" alt="" width="180px" height="180px">
						</figure>
						<div>
							{{prod.description}}
						</div>
						<div>
							{{prod.price | currency}}
						</div>
					</li>
				</ul>
			</div>
		</div>-->
	</div>
	
</body>
</html>
