.top-bar
{
    background-color: #f2f2f2;
}
.header div
{

}
.header input
{
    margin-top: 2rem;
}

.header .cesta
{
    margin-top: 2rem;   
}
.header .cesta img
{
    z-index: -1;
}

#logo
{
    max-height: 100px;
}

.seccion
{
    display: block;
    list-style: none;
}

.categoria
{
    display: none;
    list-style: none;
}
.linea
{
    display: none;
    list-style: none;
}

.catalogo
{
    text-align: center;
}
.descripcion
{
    font-size: 0.75rem;
    text-align: center;
    padding: 0 1em 0 1em;
}

.price
{
    font-size: 1.5em;
    color: red;
}
.cat
{
    text-align: center;
    min-height: 500px;
}
.prod-content
{
    border: solid;
    border-color: #f0f0f0;
    border-width: 1px;
}

.prod-img
{
    max-height: 350px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}